name: test
on:
  workflow_call:
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: listee-dev/listee-ci/.github/actions/setup-bun@e26d1c4f1d64259b0fbd7a3f8f2af3a3479f30bd
      - name: Bun build
        run: bun run build
      - name: Bun test
        run: bun test
